body {
    display: flex;
    margin: 2rem;
    /* https://systemfontstack.com */
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

header {
    flex: 0 0 16rem;
}

header h2 {
    margin-top: 0;
}

header h2 a {
    color: black;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

nav a.active {
    font-weight: bold;
}

main {
    padding: 0 4rem;
}

main a:hover {
    text-decoration: none;
}

main h1 {
    margin-top: 0;
}

main h2 {
    margin-top: 3rem;
}

main h3 {
    margin-top: 2rem;
}

dt {
    font-size: 1.2rem;
    font-style: italic;
    margin: 16px 0 4px 0;
}

code {
    font-family: "liberation mono","bitstream vera mono","dejavu mono",monospace;
    font-size: 0.8rem;
}

pre.highlight {
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: 0.5rem;
    page-break-inside: avoid;
    white-space: pre-wrap;
    word-wrap: break-word;
}
